/autom4te.cache/
/data/drugbank.xml.zip
/data/pdbtosp.txt
/data/pdbtosp.pl
/data/charmm/
/doc/Makefile
/doc/Makefile.in
/src/Makefile
/src/Makefile.in
/Makefile
/Makefile.in
/aclocal.m4
/config.h
/config.sub
/config.h.in
/config.log
/config.guess
/config.status
/configure
/tests/AmberSplTest
/tests/1FKO-lig-EFZ.pdb
/tests/Makefile
/tests/Makefile.in
/install-sh
/ltmain.sh
/libtool
/depcomp
/missing
/stamp-h1
/nbproject/
/src/.libs/
/tests/.libs/
/apps/mmpbsa/Makefile
/apps/mmpbsa/Makefile.in
/apps/mmpbsa/amberTools
/apps/mmpbsa/.libs/
/apps/Makefile
/apps/Makefile.in
/apps/mmpbsa/premmpbsa
/apps/mmpbsa/mmpbsa
/apps/mmpbsa/preVinaLC
/apps/mmpbsa/processVinaLC
/doc/html/
/doc/local/Makefile
/doc/local/Makefile.in
/doc/pics/Makefile
/doc/pics/Makefile.in
/doc/pics/llnl_logo.gif
/doc/Doxyfile
/doc/Doxyfile.bak
/apps/mmpbsa/preLigands
/apps/mmpbsa/preReceptors
/tests/StdResContainerSplTest
/apps/tools/jobTracking
/apps/tools/Makefile
/apps/tools/Makefile.in
/apps/tools/mol2Info