/autom4te.cache/
/data/drugbank.xml.zip
/data/pdbtosp.txt
/data/pdbtosp.pl
/data/charmm/
/doc/Makefile
/doc/Makefile.in
/src/Makefile
/src/Makefile.in
/Makefile
/Makefile.in
/aclocal.m4
/config.h
/config.sub
/config.h.in
/config.log
/config.guess
/config.status
/configure
/tests/AmberSplTest
/tests/1FKO-lig-EFZ.pdb
/tests/Makefile
/tests/Makefile.in
/install-sh
/ltmain.sh
/libtool
/depcomp
/missing
/stamp-h1